absl-py==2.1.0
accelerate==0.25.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==4.2.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.3.0
bitsandbytes==0.41.1
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cmake==3.31.4
coloredlogs==15.0.1
contourpy==1.3.1
cycler==0.12.1
dadaptation==3.1
diffusers==0.25.0
docker-pycreds==0.4.0
easygui==0.98.3
einops==0.6.1
entrypoints==0.4
exceptiongroup==1.2.2
fairscale==0.4.13
fastapi==0.115.6
ffmpy==0.5.0
filelock==3.16.1
flatbuffers==24.12.23
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.1.1
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.37.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==3.50.2
gradio_client==0.6.1
grpcio==1.69.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.20.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.5.2
invisible-watermark==0.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==2.14.0
kiwisolver==1.4.8
libclang==18.1.1
-e git+ssh://git@github.com/lurw2000/ML-testing-dev.git@87be78d8c0003e503b98ca3cf8e0e0c2683fca8c#egg=library&subdirectory=baselines/netdiffusion/fine_tune/kohya_ss_fork
lightning-utilities==0.11.9
lion-pytorch==0.0.6
lit==18.1.8
lycoris_lora==2.0.2
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.10.0
mdurl==0.1.2
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.14.1
onnxruntime-gpu==1.16.0
open-clip-torch==2.20.0
opencv-python==4.7.0.68
opt_einsum==3.4.0
orjson==3.10.14
packaging==24.2
pandas==2.2.3
pathtools==0.1.2
pillow==10.4.0
prodigyopt==1.0
propcache==0.2.1
protobuf==3.20.3
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytorch-lightning==1.9.0
pytz==2024.2
PyVirtualDisplay==3.0
PyWavelets==1.8.0
PyYAML==6.0.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.4.1
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.2
scipy==1.11.4
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.19.2
setproctitle==1.3.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.41.3
sympy==1.13.1
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
timm==0.6.12
tk==0.1.0
tokenizers==0.15.2
toml==0.10.2
toolz==1.0.0
tqdm==4.67.1
transformers==4.36.2
triton==2.0.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
voluptuous==0.13.1
wandb==0.15.11
wcwidth==0.2.13
websockets==11.0.3
Werkzeug==3.1.3
wrapt==1.14.1
xformers==0.0.21
yarl==1.18.3
zipp==3.21.0
